.BigText {
    color: blueviolet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.GitAdv {
    width: 250px;
	height: 50px;
    background-color: blueviolet;
    color: red;
}